@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Superheroes</h1>
    <p>Let's build a list of Supers!</p>
</div>
<div class="container">
    <img class="rounded mx-auto" src="superhero.jpg" alt="Superheroes" width="240" height="300">
</div>